.season {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: grey;
    color: white;
}
.poem {
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.image {
    text-align: center;
    border: 3px solid black;
    width: 800px;
    height: 500px;
}
#spring {
    display: flex;
    justify-content: center;
}
#summer {
    display: flex;
    justify-content: center;
}
#autumn {
    display: flex;
    justify-content: center;
}
#winter {
    display: flex;
    justify-content: center;
}